p {
    color: black;
    line-height: 30px;}
h2 {letter-spacing: 25px;
    color: black;}
li {
    color: rgb(211, 214, 255);
    line-height: 30px;}

html{font-size: larger; font-family: 'Times New Roman'; background-color: rgb(224, 240, 255); line-height: 50px;}
h2{text-align: center;} 
a {color: crimson; font-weight: bold; font-style: italic;}

body{
    width: 600px;
    margin: 0 auto;
    background-color: black;
    padding: 0px 20px 20px;
    border: 5px solid black;
    background: linear-gradient(to right, #0a4d94, #00c6ff);
}

ul li{
    background-color: rgb(35, 35, 36);
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
}

img {
    display: block;
    margin: 0 auto;

}